module.exports = {
    pages:{
        index:{
            entry: "./src/lotteryStation.js",
            template: './src/lotteryStation.vue',
            filename: 'lotteryStation.vue'
        },
        product:{
            entry: './src/lotteryStation.js',
            template: './src/lotteryStation.vue',
            filename: '/lotteryStation.vue'
        }
    },
    devServer:{
        host: "172.20.10.2",
        port: "8082",
        proxy:{
            '/api':{
                target: 'http://10.8.200.83:8082/', // 後台接口
                
            }
        }
    }
}